* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
    color: #555b5d;
    max-height: 100%;
    max-width: 100vw;
}

.wrapper {
    background: url("../img/pattern.png") top left repeat;
}

.container {
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
}

.dBlock {
    display: block!important;
}

.arrowUp {
    border-left: 6.75px solid transparent!important;
    border-right: 6.75px solid transparent!important;
    border-bottom: 7px solid #9B9797!important;
    border-top: 0px!important;
}

.headerWrapper {
    padding-top: 13px;
    background-color: #006a3d;
    border-bottom: 7px solid #f47920;
}

.headerLogos {
    display: flex;
    justify-content: space-between;
}

.mainInfoWrapper {
    padding: 20px;
}

.sectionOneUpperInfo {
    display: flex;
    justify-content: space-between;
}

.sectionOneImage {
    padding-right: 20px;
}

.image {
    width: 210px;
    height: 210px;
}

.sectionOneInfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.sectionOneText {
    padding-bottom: 10px;
}

.sectionOneButtons {
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: space-around;
}

.sectionOneLink:first-child {
    position: relative;
    bottom: 25px;
}

/* .sectionOneButton:first-child {
    background-color: #006a3d;
    border-radius: 2px;
    text-align: center;
    margin-right: 30px;
}

.sectionOneButton:last-child {
    background-color: #f47920;
    border-radius: 2px;
    text-align: center;
} */

/* .zayavBtn, .akciiBtn {
    color: #fff;
    padding: 10px 20px;
}

.zayavBtn {
    background-color: #006a3d;
    border-radius: 2px;
    text-align: center;
    margin-right: 30px;
}

.akciiBtn {
    background-color: #f47920;
    border-radius: 2px;
    text-align: center;
} */

.sectionTwoText {
    padding-bottom: 20px;
}

ul {
    list-style: none;
}

.li i {
    display: block;
    width: 11px;
    height: 11px;
    background: #f47920;
    border-radius: 50%;
    margin-right: 8px;
}

.li {
    display: flex;
    align-items: center;
    padding: 6px 0px;
}

.menuVisibleBlock {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuVisibleTitle {
    color: #2E654B;
    text-decoration-line: underline;
    text-decoration-color: #2E654B;
    padding-right: 10px;
    font-weight: bold;
}

.menuVisibleArrow {
    width: 0; 
    height: 0; 
    border-left: 6.75px solid transparent;
    border-right: 6.75px solid transparent;
    border-top: 7px solid #9B9797;
}

.menuHiddenBlock {
    display: none;
}

.sectionThreeText {
    padding-bottom: 20px;
}

.scrollMenu {
    padding-bottom: 5px;
    max-width: 99%;
}

.mainSectionThree .scrollMenu:last-child {
    padding-top: 20px;
}

.filePdf {
    display: flex;
    align-items: center;
}

.filePdf i {
    background: url("../img/pdf.png") no-repeat 0 0;
    height: 47px;
    width: 38px;
    margin-top: 5px;
    display: block;
    margin-right: 8px;
}

.fileInfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.fileName a {
    color: #ff8522
}

.fileSize {
    display: flex;
    align-items: center;
}

.downloadButtons {
    display: flex;
    margin-top: 20px;
}

.downloadButton:first-child {
    padding-right: 32px;
}

.menuVisibleTitle a {
    color: #2E654B;
}

.addInfo {
    color: #999;
    font-size: 11px;
    padding-left: 4px;
}

.rulesLink {
    padding-bottom: 5px;
}

.listLink {
    font-size: 11px;
    padding-bottom: 15px;
}

.footerWrapper {
    display: flex;
    justify-content: center;
    background-color: #006a3d;
    color: #fff;
    padding: 10px 20px;
    font-weight: 700;
}

@media only screen and (max-width:910px) {
    .sectionOneButtons {
        flex-flow: column;
    }
}

.diskountInfoWrapper {
    padding: 20px;
}

.pageInfo {
    padding-bottom: 54px;
}

.pageTitle {
    font-size: 40px;
    color: #3A673D;
    padding-bottom: 35px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardText {
    padding-left: 50px;
    font-size: 28px;
    font-weight: 500;
}

/*Select Style*/

.select-box {
    position: relative;
    display: block;
    width: 100%;
    font-size: 20px;
    color: #60666d;
  }
@media (min-width: 768px) {
.select-box {
    width: 70%;
}
}
@media (min-width: 992px) {
.select-box {
    width: 50%;
}
}
@media (min-width: 1200px) {
.select-box {
    width: 30%;
}
}
.select-box__current {
    position: relative;
    border: 1px solid #CACACA;
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}
.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}
.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
            animation-name: HideList;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    border: 1px solid #CACACA;
}
.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

/*End Select Style*/

.selectWrapper {
    padding-bottom: 42px;
}

.tableWrapper {
    display: flex;
    flex-flow: row;
    font-size: 13px;
}

.columnHeader, .columnImg, .columnInfo {
    border: 1px solid #CACACA;
}

.columnImg, .columnInfo {
    height: 170px;
    padding: 5px;
}

.columnHeader {
    background-color: #EEF6EC;
    font-weight: 500;
    font-size: 17px;
    padding: 5px;
    text-align: center;
}

.columnImg {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.columnInfo {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.columnInfo p {
    text-align: center;
}
